.contenedor-registro {
    background-color: #f7f7f2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-registro {
    background-color: white;
    padding: 15px;
    width: 100%;
    max-width: 580px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}

.formulario-registro h2 {
    text-align: center;
    margin-bottom: 0px;
    color: #000000;
    font-weight: 600;
    font-size: 22px
}

.formulario-registro p {
    text-align: center;
    font-size: 14px;
    color: rgb(107, 107, 107);
    font-weight: 400;
}

.formulario-registro {
    position: relative;
}

.fecha-nacimiento-registro {
    display: flex;
    gap: 12px;
    margin-top: 0px;
}

.fecha-nacimiento-registro select {
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 0.9rem;
    width: 100%;
    color: rgb(0, 0, 0);
}


.btn-volver {
    position: absolute;
    top: 15px;
    left: 15px;

    width: 36px;
    height: 36px;
    border-radius: 50%;

    background-color: #f1f5f9;
    color: #2563eb;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.2s, transform 0.2s;
}

.btn-volver:hover {
    background-color: #e0e7ff;
    transform: scale(1.05);
}

.separador {
    width: 100%;
    border: none;
    border-top: 1px solid #cdced0;
    margin: 15px 0 20px;
}

.fila-campos {
    display: flex;
    gap: 12px;
}

.fila-campos .campo {
    flex: 1;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.campo label {
    font-size: 0.85rem;
    margin-bottom: 5px;
    color: #374151;
}

.campo input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 0.9rem;
}

.campo input:focus {
    outline: none;
    border-color: #2563eb;
}

.campo select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 0.9rem;
    background-color: #fff;
    color: #000;
}

.campo select:focus {
    outline: none;
    border-color: #2563eb;
}

.campo input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    min-height: 42px;
}

.opciones-genero-registro {
    display: flex;
    gap: 12px;
    width: 100%;
    margin-bottom: -4px;
}

.radio-opcion-registro {
    flex: 1;
    display: flex;
    gap: 20px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 10px;
    font-size: 0.85rem;
    cursor: pointer;
}

.opciones-genero-registro span {
    color: rgb(0, 0, 0);
}


.radio-opcion-registro input {
    cursor: pointer;
}


.btn-registrar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    margin: 15px auto 0;
    font-size: 14px;
    margin-bottom: 20px;
}

.btn-registrar:hover {
    background-color: #1e40af;
}

.texto-login {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 15px;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.texto-login span {
    color: rgb(80, 80, 80);
}

.texto-login a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
}


.campo-password {
    width: 100%;
}

.input-password {
    position: relative;
    display: flex;
    align-items: center;
}

.input-password input {
    width: 100%;
    padding-right: 40px;
}

.icono-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #a8aaaf;
    margin-top: 7px;
}

.icono-password:hover {
    color: #2563EB;
}

/* =================== Responsividad =================== */
@media (max-width: 480px) {

    .contenedor-registro {
        padding: 10px 15px;
    }

    .formulario-registro {
        padding: 15px 12px;
        margin-bottom: 40px !important;
    }

    .fila-campos {
        flex-direction: column;
        gap: 0;
    }

    .opciones-genero-registro {
        flex-direction: column;
    }

    .radio-opcion-registro {
        justify-content: start;
    }

    .radio-opcion-registro {
        color: #000;
    }

    .btn-registrar {
        width: 100%;
    }

    .btn-volver {
        top: 10px;
        left: 10px;
        width: 32px;
        height: 32px;
        font-size: 18px;
    }

    .formulario-registro h2 {
        font-size: 20px;
    }

    .formulario-registro p {
        font-size: 13px;
    }

    .campo input[type="date"] {
        width: 100%;
        font-size: 0.9rem;
    }

    .fecha-nacimiento-registro {
        flex-direction: column;
        gap: 8px;
    }

    .fecha-nacimiento-registro select {
        width: 100%;
        padding: 8px 8px;
    }
}

@media (max-width: 600px) {

    .formulario-registro {
        max-width: 100%;
    }

    .btn-registrar {
        width: 70%;
    }

    .fecha-nacimiento-registro select {
        font-size: 0.9rem;
    }
}

/* ============================= mensajes de error =============================== */
.mensaje-error {
  color: #e53935;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.input-error {
  border: 1px solid #e53935;
}