/* ==================================== Header Externo ==================================== */
.header-externo-e {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f2;
}

.logo-e {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.botones-e {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 12px;
}

.logo-header-e {
    width: 300px;
    height: auto;
}

.btn-singup-e {
    background-color: #2563EB;
    color: white;
    border: none;
    padding: 11px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-singup-e:hover {
    background-color: #1E40AF;
}

.btn-login-e {
    background-color: white;
    color: #2563EB;
    border: 2px solid #2563EB;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.btn-login-e:hover {
    background-color: #89a4dd;
    color: white;
}

/* =========== Responsividad =========== */
@media (max-width: 768px) {
    .logo-header-e {
        width: 220px;
    }

    .botones-e {
        gap: 10px;
    }

    .btn-login-e,
    .btn-singup-e {
        padding: 8px 12px;
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .header-externo-e {
        padding: 8px 12px;
    }

    .logo-header-e {
        width: 160px;
    }

    .botones-e {
        gap: 8px;
    }

    .btn-login-e,
    .btn-singup-e {
        padding: 7px 10px;
        font-size: 10px;
    }
}








/* ================================================================ */



/* ==================================== MENÚ EXTERNO ==================================== */
.menu-exterior {
    display: flex;
    gap: 50px;
    background-color: #B3C8CF;
    padding: 10px 35px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.menu-items {
    display: flex;
    gap: 35px;
}

.menu-item {
    text-decoration: none;
    color: #111827;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
    font-size: 14px;
}

.menu-item:hover {
    color: #2563EB;
}

.menu-item.active {
    border-bottom: 3px solid #2563EB;
    color: #2563EB;
}

.menu-eslogan {
    font-size: 0.9rem;
    color: #1E3A8A;
    font-weight: 500;
    font-style: italic;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    width: 24px;
    height: 3px;
    background-color: #1E3A8A;
    border-radius: 2px;
    transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* ======= responsividad ======= */
@media (max-width: 768px) {
    .hamburger {
        order: 1;
        z-index: 999;

        display: flex;
        /* area clickealble*/
        width: fit-content;
         /* area clickealble*/
        align-self: flex-start;
        padding-bottom: 0 !important;
    }

    .menu-eslogan {
        order: 2;

        display: block;
        text-align: center;
        font-size: 0.70rem;
        margin-top: -70px;
        padding-left: 30%;
    }

    .menu-exterior {
        flex-direction: column;
        align-items: stretch;
    }

    .menu-items {
        order: 3;

        flex-direction: column;
        width: 100%;
        gap: 12px;
        padding: 15px 0;
        display: none;
        margin-top: -40px !important;

        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    .menu-items.show {
        display: flex;
    }

    .menu-item {
        text-align: center;
        font-size: 14px;
    }
}

/* ============================================================================= */



/* ==================================== FOOTER ==================================== */
.footer {
    background-color: #547792;
    color: #E5EEF1;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 60px;
    flex-wrap: wrap;
}

.footer-logo {
    max-width: 250px;
}

.footer-logo img {
    width: 160px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 0.9rem;
    font-style: italic;
    color: #ffffff;
}

.footer-links h4,
.footer-info h4 {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #FFFFFF;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-links a {
    text-decoration: none;
    color: #C7D2FE;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #FFFFFF;
}

.footer-info {
    max-width: 300px;
    font-size: 0.9rem;
    color: #C7D2FE;
}

.footer-bottom {
    text-align: center;
    padding: 15px;
    background-color: #799ca7;
    font-size: 0.85rem;
    color: #ffffff;
}

/* ======= responsividad ======= */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        padding: 30px 20px;
        gap: 25px;
        text-align: center;
    }

    .footer-logo,
    .footer-info {
        max-width: 100%;
    }

    .footer-logo img {
        margin: 0 auto 10px;
        display: block;
    }

    .footer h4 {
        font-size: 0.85rem;
        margin-bottom: 8px;
    }

    .footer p,
    .footer a {
        font-size: 0.7rem;
    }

}