/* ===================================== Header Interno ====================================== */
.header-interno {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    background-color: #e4eaf3;

}

.logotipo-interno,
.eslogan-interno,
.info-usuario {
    flex: 1 1 0;
}

.logotipo-interno {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-header {
    max-width: 100%;
    width: 300px;
    height: auto;
}

.eslogan-interno {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    color: #1E3A8A;
    font-weight: 500;
    font-style: italic;
    white-space: nowrap;
}

.info-usuario {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding-right: 10px;
}

.nombre-usuario {
    font-size: 0.9rem;
    color: #1F2937;
    font-weight: 500;
    white-space: nowrap;
}

.avatar-usuario {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid #14cf21;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-usuario img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ======= responsividad ======= */
@media (max-width: 1172px) {
    .logo-header {
        width: 220px !important;
    }

    .nombre-usuario {
        font-size: 0.8rem !important;
        white-space: normal !important;
        word-break: break-word !important;
        text-align: right !important;
    }


    .avatar-usuario {
        width: 42px !important;
        height: 42px !important;
    }
}

@media (max-width: 990px) {
    .header-interno {
        flex-direction: column !important;
        padding: 7px 10px;
        gap: 12px;
    }

    .logotipo-interno,
    .eslogan-interno,
    .info-usuario {
        flex: none;
        width: 100%;
        justify-content: center;
    }

    .logo-header {
        width: 280px !important;
    }

    .eslogan-interno {
        display: none;
    }

    .info-usuario {
        justify-content: center;
        padding-right: 0;
    }

    .eslogan-interno {
        display: block !important;
    }

    .avatar-usuario {
        width: 48px !important;
        height: 48px !important;
        border-width: 2px;
    }
}

@media (max-width: 768px) {
    .header-interno {
        flex-direction: column;
        padding: 7px 10px;
        gap: 12px;
    }

    .logotipo-interno,
    .eslogan-interno,
    .info-usuario {
        flex: none;
        width: 100%;
        justify-content: center;
    }

    .logo-header {
        width: 260px !important;
    }

    .eslogan-interno {
        white-space: normal;
        font-size: 0.8rem;
        text-align: center;
    }

    .info-usuario {
        justify-content: center;
        padding-right: 0;
    }

    .nombre-usuario {
        display: none;
    }

    .avatar-usuario {
        width: 46px !important;
        height: 46px !important;
        border-width: 2px;
    }

    .eslogan-interno {
        display: block !important;
    }
}

@media (max-width: 480px) {
    .header-interno {
        padding: 5px 10px !important;
        display: flex;
        align-items: center;
        background-color: #e4eaf3;
        gap: 10px !important;
    }

    .logo-header {
        width: 240px !important;
    }

    .avatar-usuario {
        width: 48px !important;
        height: 48px !important;
        border-width: 2px;
    }

    .eslogan-interno {
        display: block !important;
    }
}

/* ==================================== MENU PERFIL - CIERRE SESION ==================================== */
.info-usuario {
    position: relative;
}

.menu-usuario {
    position: absolute;
    top: 58px;
    right: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 160px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1000;

    border: 2px solid #b2c0d0;
}


.menu-usuario button {
    background: none;
    border: none;
    padding: 12px 15px;
    text-align: left;
    cursor: pointer;
    font-size: 0.9rem;
    color: #1F2937;
}

.menu-usuario button:hover {
    background-color: #F3F4F6;
}

.menu-usuario .cerrar-sesion {
    color: #DC2626;
    font-weight: 500;
}

.menu-usuario button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icono-menu {
    font-size: 1.2rem;
}

.menu-usuario button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
}

.menu-usuario button+button {
    border-top: 1px solid #D1D5DB;
}

/* ===================== MENU USUARIO RESPONSIVO ===================== */
@media (max-width: 1172px) {
    .menu-usuario {
        top: 47px;
    }
}
@media (max-width: 990px) {
    .menu-usuario {
        width: 180px !important;
        right: 43%;
        transform: translateX(50%);
        top: 47px;
        border-radius: 10px;
    }

    .menu-usuario button {
        font-size: 0.9rem;
        padding: 12px 16px;
    }

    .icono-menu {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    .menu-usuario {
        width: 180px !important;
        right: 50%;
        transform: translateX(50%);
        top: 47px;

        border-radius: 10px;
    }

    .menu-usuario button {
        font-size: 0.9rem;
        padding: 12px 16px;
    }

    .icono-menu {
        font-size: 1.4rem;
    }
}

@media (max-width: 480px) {
    .menu-usuario {
        width: 160px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        top: 47px !important;
    }

    .menu-usuario button {
        background: none;
        border: none;
        padding: 10px 13px;
        text-align: left;
        cursor: pointer;
        font-size: 0.75rem !important;
        color: #1F2937;
    }
}