/* ==================================== Header Externo Olvidar y Recuperar ==================================== */
.header-externo-o {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f2;
    position: relative;
}

.logo-o {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo-header-o {
    width: 300px;
    height: auto;
}

.espacio-login-o {
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.espacio-login-o span {
    display: flex;
    align-items: center;
    color: #686868;
}

.btn-login-o {
    background-color: white;
    color: #2563EB;
    border: 2px solid #2563EB;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.btn-login-o:hover {
    background-color: #89a4dd;
    color: white;
}

.menu-eslogan-o {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    color: #1E3A8A;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

/* =========== Responsividad =========== */
@media (max-width: 1120px) {
    .header-externo-o {
        align-items: center !important;
        padding: 10px !important;
        gap: 12px !important;
    }

    .logo-o {
        margin-left: 0 !important;
        justify-content: center !important;
    }

    .logo-header-o {
        width: 280px !important;
    }

    .menu-eslogan-o {
        position: static !important;
        transform: none !important;
        padding: 0 10px !important;
    }

    .menu-eslogan-o {
        width: 100% !important;
        text-align: center !important;
        font-size: 0.85rem !important;
        margin-top: 0px;
    }

    .espacio-login-o {
        flex: 0 0 auto !important;
        width: auto !important;
        order: 2;
        justify-content: flex-end !important;
        gap: 15px !important;
        padding-right: 5px;
        margin-right: 0 !important;
    }

    .espacio-login-o span {
        display: block !important;
        width: auto;
        font-size: 0.85rem !important;
    }

    .btn-login-o {
        box-sizing: border-box;
        padding: 8px 16px !important;
        font-size: 0.85rem !important;
        width: auto !important;
        max-width: fit-content;
    }
    
}

@media (max-width: 768px) {
    .header-externo-o {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-between !important;
        flex-wrap: wrap !important;
        padding: 10px 10px !important;
    }

    .logo-o {
        flex: 0 0 auto !important;
        width: auto !important;
        margin-left: 0 !important;
        order: 1;
    }

    .logo-header-o {
        width: 230px !important;
    }

    .espacio-login-o {
        flex: 0 0 auto !important;
        width: auto !important;
        order: 2;
        justify-content: flex-end !important;
        gap: 15px !important;
        padding-right: 5px;
    }

    .espacio-login-o span {
        display: block !important;
        width: auto;
        font-size: 0.85rem !important;
    }

    .btn-login-o {
        box-sizing: border-box;
        padding: 8px 16px !important;
        font-size: 0.85rem !important;
        width: auto !important;
        max-width: fit-content;
    }

    .menu-eslogan-o {
        width: 100% !important;
        order: 3 !important;
        text-align: center !important;
        font-size: 0.85rem !important;
        margin-top: 0px;
    }
}


@media (max-width: 620px) {
    .header-externo-o {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-between !important;
        flex-wrap: wrap !important;
        padding: 10px 10px !important;
    }

    .logo-o {
        flex: 0 0 auto !important;
        width: auto !important;
        margin-left: 0 !important;
        order: 1;
    }

    .logo-header-o {
        width: 200px !important;
    }

    .espacio-login-o {
        flex: 0 0 auto !important;
        width: auto !important;
        order: 2;
        justify-content: flex-end !important;
        gap: 10px !important;
        padding-right: 5px;
    }

    .espacio-login-o span {
        display: block !important;
        width: auto;
        font-size: 0.8rem !important;
    }

    .btn-login-o {
        box-sizing: border-box;
        padding: 8px 14px !important;
        font-size: 0.8rem !important;
        width: auto !important;
        max-width: fit-content;
    }

    .menu-eslogan-o {
        width: 100% !important;
        order: 3 !important;
        text-align: center !important;
        font-size: 0.8rem !important;
        margin-top: 0px;
    }
}

@media (max-width: 480px) {
    .header-externo-o {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-between !important;
        flex-wrap: wrap !important;
        padding: 10px 10px !important;
    }

    .logo-o {
        flex: 0 0 auto !important;
        width: auto !important;
        margin-left: 0 !important;
        order: 1;
    }

    .logo-header-o {
        width: 175px !important;
    }

    .espacio-login-o {
        flex: 0 0 auto !important;
        width: auto !important;
        order: 2;
        justify-content: flex-end !important;
        gap: 10px !important;
        padding-right: 5px;
    }

    .espacio-login-o span {
        display: block !important;
        width: auto;
        font-size: 0.7rem !important;
    }

    .btn-login-o {
        box-sizing: border-box;
        padding: 8px 12px !important;
        font-size: 0.7rem !important;
        width: auto !important;
        max-width: fit-content;
    }

    .menu-eslogan-o {
        width: 100% !important;
        order: 3 !important;
        text-align: center !important;
        font-size: 0.7rem !important;
        margin-top: 0px;
    }
}

@media (max-width: 430px) {
    .header-externo-o {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-between !important;
        flex-wrap: wrap !important;
        padding: 10px 10px !important;
    }

    .logo-o {
        flex: 0 0 auto !important;
        width: auto !important;
        margin-left: 0 !important;
        order: 1;
    }

    .logo-header-o {
        width: 160px !important;
    }

    .espacio-login-o {
        flex: 0 0 auto !important;
        width: auto !important;
        order: 2;
        justify-content: flex-end !important;
        gap: 8px !important;
        padding-right: 5px;
    }

    .espacio-login-o span {
        display: block !important;
        width: auto;
        font-size: 0.61rem !important;
    }

    .btn-login-o {
        box-sizing: border-box;
        padding: 7px 8px !important;
        font-size: 0.61rem !important;
        width: auto !important;
        max-width: fit-content;
    }

    .menu-eslogan-o {
        width: 100% !important;
        order: 3 !important;
        text-align: center !important;
        font-size: 0.6rem !important;
        margin-top: 0px;
    }
}

@media (max-width: 380px) {
    .header-externo-o {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-between !important;
        flex-wrap: wrap !important;
        padding: 10px 10px !important;
    }

    .logo-o {
        flex: 0 0 auto !important;
        width: auto !important;
        margin-left: 0 !important;
        order: 1;
    }

    .logo-header-o {
        width: 140px !important;
    }

    .espacio-login-o {
        flex: 0 0 auto !important;
        width: auto !important;
        order: 2;
        justify-content: flex-end !important;
        gap: 8px !important;
        padding-right: 5px;
    }

    .espacio-login-o span {
        display: block !important;
        width: auto;
        font-size: 0.51rem !important;
    }

    .btn-login-o {
        box-sizing: border-box;
        padding: 6px 7px !important;
        font-size: 0.51rem !important;
        width: auto !important;
        max-width: fit-content;
    }

    .menu-eslogan-o {
        width: 100% !important;
        order: 3 !important;
        text-align: center !important;
        font-size: 0.52rem !important;
        margin-top: 0px;
    }
}

