.menu-exterior-interno {
    display: flex;
    gap: 50px;
    background-color: #B3C8CF;
    padding: 10px 35px;
    align-items: center;
    justify-content: space-between;
}

/* ===== ITEMS ===== */
.menu-items-interno {
    display: flex;
    gap: 35px;
}

.menu-item-interno {
    text-decoration: none;
    color: #111827;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
    font-size: 14px;
}

.menu-item-interno:hover {
    color: #2563EB;
}

.menu-item-interno.active-interno {
    border-bottom: 3px solid #2563EB;
    color: #2563EB;
}

/* ===== ESLOGAN ===== */
.menu-eslogan-interno {
    font-size: 0.9rem;
    color: #1E3A8A;
    font-weight: 500;
    font-style: italic;
    display: none;
}

/* ===== HAMBURGER ===== */
.hamburger-interno {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-interno span {
    width: 24px;
    height: 3px;
    background-color: #1E3A8A;
    border-radius: 2px;
    transition: 0.3s;
}

.hamburger-interno.open-interno span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-interno.open-interno span:nth-child(2) {
    opacity: 0;
}

.hamburger-interno.open-interno span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* ======= RESPONSIVIDAD ======= */
@media (max-width: 768px) {

    .hamburger-interno {
        order: 1;
        z-index: 999;
        display: flex;
        width: fit-content;
        align-self: flex-start;
        padding-bottom: 0 !important;
    }

    .menu-eslogan-interno {
        order: 2;
        display: block;
        text-align: center;
        font-size: 0.8rem;
        margin-top: -70px;
        padding-left: 30%;
    }

    .menu-exterior-interno {
        flex-direction: column;
        align-items: stretch;
    }

    .menu-items-interno {
        order: 3;
        flex-direction: column;
        width: 100%;
        gap: 12px;
        padding: 15px 0;
        display: none;
        margin-top: -40px !important;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    .menu-items-interno.show-interno {
        display: flex;
    }

    .menu-item-interno {
        text-align: center;
        font-size: 14px;
    }
}

@media (max-width: 480px) {

    .hamburger-interno {
        order: 1;
        z-index: 999;
        display: flex;
        width: fit-content;
        align-self: flex-start;
        padding-bottom: 0 !important;
    }

    .menu-eslogan-interno {
        order: 2;
        display: block;
        text-align: center;
        font-size: 0.7rem;
        margin-top: -70px;
        padding-left: 20%;
    }

    .menu-exterior-interno {
        flex-direction: column;
        align-items: stretch;
    }

    .menu-items-interno {
        order: 3;
        flex-direction: column;
        width: 100%;
        gap: 12px;
        padding: 15px 0;
        display: none;
        margin-top: -40px !important;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    .menu-items-interno.show-interno {
        display: flex;
    }

    .menu-item-interno {
        text-align: center;
        font-size: 14px;
    }
}